#root {
  max-width: 100vw;
  min-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 30vw;
  height: 100vh;
  position: "relative";
}

.map {
  width: 70vw;
  height: 100vh;
  position: "relative";
}
